# HTTPD
HTTPD_HOST_PORT=80
HTTPD_HOST_SSL_PORT=443

# PHP
PHP_FPM_DISPLAY_ERRORS=On
PHP_FPM_ERROR_REPORTING=E_ALL
PHP_FPM_MAX_EXECUTION_TIME=600
PHP_FPM_MEMORY_LIMIT=512M
PHP_FPM_POST_MAX_SIZE=100M
PHP_FPM_RUNTIME_UID=1000
PHP_FPM_UPLOAD_LIMIT=100M
PHP_FPM_VERSION=8.4

# DATABASE
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_USER=testuser
MYSQL_PASSWORD=testpassword
MYSQL_DATABASE=testdb
MYSQL_HOST_PORT=3306
MYSQL_VERSION=lts

# DATABASE-CRON-BACKUP
MYSQL_CRON_BACKUP_MAX_BACKUPS=10
MYSQL_CRON_BACKUP_EXIT_BACKUP=1
MYSQL_CRON_BACKUP_GZIP_LEVEL=9
MYSQL_CRON_BACKUP_CRON_TIME=*/30 * * * *
MYSQL_CRON_BACKUP_MYSQDUMP_OPTS=--no-tablespaces

# SSLCERT-GENERATOR
CERT_DAYS=365
CERT_COUNTRY=US
CERT_STATE=New York
CERT_LOCALITY=Brooklin
CERT_ORGANIZATION_NAME=Internet Widgits Pty Ltd
CERT_COMMON_NAME=test
